@import 'variaveis';

:host {
  background-color: #222;
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .base {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

    img {
      width: 40%;
    }

    button {
      font-size: 1.5rem;
      min-width: 200px;
      padding: 20px;
      border-radius: 500px;
      background-color: $cor-primaria;
      color: white;
      border: 0;
      cursor: pointer;
    }
  }
}