@import 'table';

:host{
  display: flex;
  justify-content: space-between;

  .painel-direito {
    height: 100vh;
  }

  .lista {
    padding: 0px 50px;
    width: 100%;
    padding-bottom: 20px;
    max-height: 100%;
    overflow-y: scroll;
  }
}