<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo.png" alt="" srcset="">
  </div>

  <div class="menu-container flex opcoes">
    <app-botao-menu
      [descricao]="'Home'"
      [selecionado]="menuSelecionado === 'Home'"
      (click)="botaoClick('Home')"
    >
      <fa-icon [icon]="homeIcone" ></fa-icon>
    </app-botao-menu>

    <app-botao-menu 
      [descricao]="'Pesquisar'" 
      [selecionado]="menuSelecionado === 'Pesquisar'"
      (click)="botaoClick('Pesquisar')"
    >
      <fa-icon [icon]="pesquisarIcone" ></fa-icon>
    </app-botao-menu>

    <app-botao-menu 
      [descricao]="'Artistas'"
      [selecionado]="menuSelecionado === 'Artistas'"
      (click)="botaoClick('Artistas')"
    >
      <fa-icon [icon]="artistaIcone" ></fa-icon>
    </app-botao-menu>

  </div>

  <div class="menu-container flex">
    <span class="playlist-titulo">
      PLAYLISTS
    </span>

    <div class="playlist-scroll">
      <app-botao-menu
        *ngFor="let playlist of playlists"
        [descricao]="playlist.nome"
        [selecionado]="menuSelecionado === playlist.id"
        (click)="irParaPlaylist(playlist.id)"
        > 
        <fa-icon
          [icon]="playlistIcone"
        ></fa-icon>
      </app-botao-menu>
      
    </div>

  </div>

</div>

<div class="usuario-info">
  <app-rodape-usuario></app-rodape-usuario>
</div>
