@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import 'variaveis.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.titulo {
  color: $cor-primaria;
  display: block;
  font-weight: 700;

  &-bg{
    @extend .titulo;
    font-size: 2.2rem;
  }

  &-md {
    @extend .titulo;
    font-size: 1.4rem;
  }
}

.mt{
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{ $i }vh;
    }
  }
}

.p-20 {
  padding: 20px;
}

.card {
  box-shadow: 0px 0px 15px $preto-transparent-03;
  background-color: $branco;
  border-radius: 10px;
}