@import 'variaveis';

.table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;

  .play {
    color: $cor-primaria;
    font-size: .5rem;
  }

  .executando {
    background-color: $branco;
    padding: 10px;
    box-shadow: 0px 0px 15px $preto-transparent-30;

    td {
      color: $cor-primaria;
    }
  }

  thead th{
    font-size: .75rem;
    font-weight: 600;
    color: $preto-transparent-30;
  }

  th, td {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(1){
      padding-left: 10px;
    }
  }

  tr {
    &:hover {
      cursor: pointer;

      td {
        color: $cor-primaria;
      }
    }

    td {
      padding: 10px 20px 10px 0px;
      margin-top: 10px;
      font-weight: 500;
      font-size: .85rem;
      color: $preto-transparent-70;

      &:nth-child(1){
        padding-left: 10px;
      }
    }
  }

  .w{
    @for $i from 1 to 10 {
      $width: $i * 5;
      &-#{ $width } {
        width: #{ $width * 1% };
      }
    }
  }

  .direita {
    text-align: right;
  }
}