$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco: $cor-fundo2;